.App {
	text-align: center;
}

.App-link {
	color: #09d3ac;
}

.App-grid {
	display: grid;
	grid-template-columns: repeat(5, auto);
	grid-template-rows: repeat(5, calc(94vh/5 - 7px));
}

.App-grid div {
	border: 1px solid green;
	background-color: darkred;
	color: white;
	font-size: 20px;
	font-weight: bold;
	margin: 3px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.App-grid div:hover {
	background-color: darkgreen;
}

.App-header {
	display: flex;
	flex-direction: row;
}

.App-header>div {
	font-size: calc(10px + 2vh);
	color: white;
	background-color: #282c34;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.App-header h1 {
	margin: 5px;
}

.App-header input {
	color: white;
	border: 3px solid white;
	border-radius: 17px;
	background-color: #282c34;
	font-size: calc(6px + 1vh);
	font-weight: bold;
	padding: 5px;
	position: absolute;
	top: calc(10px + 2vh);
}

.App-header *:hover {
	background-color: darkslateblue;
}

.App-header>input:hover~.App-header>h1:hover {
	background-color: #282c34;
}

.App-header .prev {
	left: 5px;
}

.App-header .next {
	right: 5px;
}

.App-solution {
	height: calc(96vh - 50px);
	display: flex;
	flex-direction: row;
}

.App-solution .input {
	padding: 5px;
	text-align: left;
	display: flex;
	flex-direction: column;
	max-width: 25vw;
	max-height: calc(94vh - 40px);
}

.App-solution .input p {
	margin: 0;
	flex-grow: 0;
}

.App-solution .input textarea {
	display: block;
	padding: 2px;
	flex-grow: 1;
}

.App-solution>.solver {
	margin: 5px;
	border: 1px solid black;
	flex-grow: 1;
}

.App-solution>.solver>p {
	margin: 0;
}